/*Gives Styling to the header part of the portfolio*/

/*Gives styling to the container for the whole header content*/
.Header--Container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  background-color: #001233;

  color: white;
  height: 100vh;
  align-items: center;
}

/*Gives styling to the profilepicture*/
.Header--profilepic {
  max-width: auto;
  width: 400;
  height: 300px;
  border-radius: 100px;
}
/*Gives styling to the introduction text*/
.Header--person {
  width: 500px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
